{% extends "layout.html" %}
{% block content %}
<div style="background: yellow; min-height: 100vh; display: flex; justify-content: center; align-items: center; color: white; padding: 2rem;">
  <h4>
    Halo, nama saya Agung. Saya adalah seorang pengembang web dengan minat di bidang teknologi, desain antarmuka, dan optimasi sistem. 
    Saya selalu berusaha mengembangkan keterampilan serta berkomitmen untuk memberikan solusi digital yang bermanfaat dan berkualitas.
  </h4>
</div>
{% endblock content %}
